body{
	background-image: url("image1.jpg");
	width: 100%;
}
.travel{
	
	font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	
}
* {
	margin:0;
	padding:0;
}
.header1 {
	position: fixed;
	background-color: #1D2B2A;
	width:100%;
	height: 11vh;
	color:white;
	margin-bottom: 20px;
}
header h2{
	position-absolute;
	padding-top: 20px;
	margin-left: 25px;
}
ul{
	
	float: right;
	margin-right: 50px;
	
}
ul li{
	list-style: none;
	margin: 0 15px;
	display: inline-block;
	line-height: 20px;
}
ul li a{
	text-decoration: none;
	color: white;
	font-size: 23px;
    font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	transition: .4s;
}
ul li a.active,
ul li a:hover{
	background: #7A8686;
	border-radius: 2px;
}
p a{
	
	color: #F9F9FA;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.first{
	margin: auto;
	width: 50%;
	height: auto;
	background-color: white;
	padding: 50px;
	
	text-align: center;
	
	
}
.index-p{
	font-weight: bold;
	font-size: 50px;
	padding-top: 50px;
	
}
.index-p2{
	color: #C0BBBB;
	font-size: 13px
	font-weight: bold;
}
.child1{
	font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,
	             URW Palladio L,Nimbus Roman No9 L,serif; 
	font-size: 23px;			 
	
}
.ph{
	width: 550px;
	padding-bottom: 30px;
}
.title{
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	padding-left: 23px;
}
.pics{
	text-align: center;
	width: 650px;
}
footer{
	  background-color: black;
	  clear:both;
      padding-top: 50px;
	  padding-bottom: 30px;
	
	  
}
footer{
	  text-align: center;
	  font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	  text-align: center;
	  color: white;
	  
}
.index-p3{
	font-size:30px;
}
.fb-icon, .ig-icon, .mail-icon{
	font-size: 70px;
	transition: color 0.2s;
	
}
.fb-icon:hover{
	color: black;
}
.ig-icon:hover{
	color: black;
}
.mail-icon:hover{
	color: black;
}
#pass{
	background-color: #483D8B;
	color: white;
	font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	font-size: 15px;
}
.link{
	font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	font-size: 23px;
	color: black;
	transition: color 0.2s;
}
.link:hover{
	color: SteelBlue;
	text-decoration: underline;
}
aside{
	float: right;
	width: 50px;
	height: 50px;
	padding-left:100px;
	
	
}
.me{
	width: 300%;
	margin-top: 80px;
	padding-left: 175px
	
	
}
.mark{
		margin-top: 15px;
	padding-left: 165px
	
}
.marky{
		margin-top: 5px;
	padding-left: 190px
	
}


