body{
	height: 100%;
	font-family: font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	
}
.bg-image{
	font-family: 'Brush Script MT', cursive;
	padding-top: 90px;
	text-align: center;
	font-size: 75px;
}
* {
	margin:0;
	padding:0;
}
header {
	
	background-color: #1D2B2A;
	width:100%;
	height: 11vh;
	color:white;
}
header h2{
	position-absolute;
	padding-top: 20px;
	margin-left: 25px;
}

.bg-image {
	font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	background-image: url("image1.jpg");
	 height: 100%;
	  background-position: center;
       background-repeat: no-repeat;
         background-size: cover;
          transition: 5s;
		  
		  animation-name: animate;
		  animation-direction: alternate-reverse;
		  animation-duration: 30s;
		  animation-fill-mode: forwards;
		  animation-iteration-count: infinite;
		  animation-play-state: running;
		  animation-timing-function: ease-in-out;
		 
}

@keyframes animate{
	10%{
		background-image: url(image.jpg);
	}20%{
		background-image: url(image1.jpg);
	}40%{
		background-image: url(bg3.jpg);
	}60%{
		background-image: url(bg4.jpg);
	}
}
ul{
	
	float: right;
	margin-right: 50px;
	
}
ul li{
	list-style: none;
	margin: 0 15px;
	display: inline-block;
	line-height: 20px;
}
ul li a{
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	transition: .4s;
}
ul li a.active,
ul li a:hover{
	background: #7A8686;
	border-radius: 2px;

}
section{
	padding-top: 40px;
	padding-right: 900px;
}
.second{
	
	
	text-align: right;
	
}
p a{
	
	color: #F9F9FA;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	
}
footer{
	background-color: black;
	width:100%;
	height: 10vh;
	color:white;
}
.text{
	padding-top: 40px;
	font-size: 60px;
	font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	color: Snow;
	
}
footer{
	font-family:  Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond, 'Brush Script MT', cursive;
	text-align: center;
	padding-top: 35px;
	
}
p a:hover{
	background-color: #B4C0B5;
}

